<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resonym Community Night Vote</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
	<link rel="stylesheet" href="./style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" async></script>
	<script src="./data.js" defer></script>
</head>
<body>
	<div id="app">
		<h1>Resonym Community Night</h1>
		<hr>
		<label for="name">Discord Username:</label>
		<input type="text" name="name" id="name" v-model="name">
		<hr>
		<h2>Games:</h2>
		<p>
			Select all games you would like to play:
		</p>
		<div v-if="!view_games">
			<button @click.stop="select_all">Select All</button>
			<button @click.stop="deselect_all">Deselect All</button>
		</div>
		<div
			class="game"
			v-for="game in games"
		>
			<input
				type="checkbox"
				:name="game.name"
				:id="game.id + '-input'"
				v-model="game.selected"
			>
			<label :for="game.id + '-input'">{{ game.name }}</label>
			<div v-if="game.extra && game.selected" class="game-extras">
				<div
					class="extra"
					v-for="extra in game.extra"
					:id="game.id + '-extra'"
				>
					<div
						v-if="extra.type !== 'note'"
						class="extra-input"
						:class="extra.validate(extra) ? 'valid' : 'invalid'"
					>
						<label :for="extra.id">
							{{ extra.name }}:
							<span
								v-if="!extra.validate(extra)"
								class="error"
							>
								{{ extra.error }}
							</span>
						</label>
						<input
							:type="extra.type"
							:id="extra.id"
							v-model="extra.value"
						>
					</div>
					<div
						v-else
						class="extra-note"
					><p v-html="extra.value"></p></div>
				</div>
			</div>
		</div>
		<div v-if="!view_games">
			<hr>
			<p v-if="submitted">You've already submitted, you don't need to do it again!</p>
			<button
				:disabled="name.length === 0 || hasnt_selected || submitted || invalid_extra_input"
				@click.stop="submit_form()"
			>
				Submit
			</button>
		</div>
	</div>
</body>
</html>